@import URL(https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap);
@import URl(https://fonts.googleapis.com/css2?family=Pathway+Extreme:wght@300&display=swap);

.product-card-container{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top:50px;
    text-align: center;
}

.img-product{
    height: 250px;
    width: 300px;
    margin-top: 50px;
    border-radius: 1rem;

}

div.info-product{
    box-shadow: 1px 10px;
    background-color: black;
    width:400px;
    margin-left: 40px;
}

.card.button{
    border:none;
    outline: 0;
    padding: 10px;
    color:#A9927D;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 15px;
}

.card button:hover{
    opacity: 0.7;
}