@import URL(https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap);
@import URl(https://fonts.googleapis.com/css2?family=Pathway+Extreme:wght@300&display=swap);

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background: url("../../multimedia/interior.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.contenedor-body h1 {
    text-shadow: 0px 20px 30px rgb(38, 57, 77);
}
#hero h1{
    color:black;
}

button{
    background-color: #A9927D;
    font-size: 2em,'Raleway', sans-serif;
    font-weight: bold;
    padding: 5px 25px;
    border-radius: 15px;
    border: 2px solid #8b7867;
    box-shadow: 2px 2px 10px rgba(0,0,0,0,5);
    color: white;
    cursor: pointer;
}

button:hover{
    background-color: #857363;
}

.contenedor-info{
    align-items:center;
    padding: 40px;
    display: flex;
    flex-direction: column;
    height: 500px;
    background-color:#857363
}

.img-sobre-nosotros {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    max-height: 600px;
}

.imagen-sillon-l{
    align-items: center;
    max-width: 500px;
    max-height: 700px;
}
