@import URL(https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap);
@import URl(https://fonts.googleapis.com/css2?family=Pathway+Extreme:wght@300&display=swap);

body {
    background-color: #857363;
    font-family: Arial, sans-serif;
}

.container {
    margin-top: 70%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #d0a773;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    color: #693f25;
}

.form-group {
    margin-bottom: 20px;
    margin-right: 20px;
}

label {
    display: block;
    font-weight: bold;
    color: #693f25;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #693f25;
    border-radius: 5px;
}

input[type="button"] {
    background-color: #693f25;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="button"]:hover {
    background-color: #542c1c;
}
